out/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**


### STS ###
.apt_generated
.classpath
.factorypath
.mamProject
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
deploy.ps1
src/main/resources/application-self.yml
/src/test/java/edu/cuz/mamv2/assert/test.mp4
/src/test/java/edu/cuz/mamv2/assert/test.wav
