<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cuz.mamv2.mapper.ProjectMapper">

    <select id="selectUserProjectsPage" resultType="edu.cuz.mamv2.entity.MamProject">
        select id,
               name,
               createTime,
               leader,
               leaderName,
               taskCount,
               finishedTask
        from mam.mam_project
        where id in (
            select mamProject
            from mam.mam_task
            where deleted = 0
              and (cataloger = #{account}
                or auditor = #{account})
        )
    </select>
    <select id="selectProjectsPageByUser" resultType="edu.cuz.mamv2.entity.MamProject"></select>
</mapper>
